#logo {
    width:100%;
    position: relative;
    display: inline;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

#logo a{

    left: -600px;
    top: 0px;
    position: absolute;


}