#logo {
    margin-right: auto;
    margin-left:20px;
    margin-top: 10px;z
    width:fit-content;
    height:fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}