.statsSection {
    left: 70vw;
    width: 30vw;
}

.averageScore {
    font-size: 300%;
    font-family: Garamond;
	font-weight: bold;
    left: 73vw;
    top: 25vh;
    position: absolute;
}

.numComments {
    font-size: 100%;
    left: 79vw;
    top: 30vh;
    position: absolute;
}

.stars {
    left: 78.5vw;
    top: 24vh;
    position: absolute;
}

.bars {
    left: 76vw;
    top: 39vh;
    width: 1000px;
    position: absolute;
}

.star--percent100 {
    clip-path: inset(0 0 0 0);
}

.star--percent90 {
    clip-path: inset(0 0.68em 0 0);
}

.star--percent80 {
    clip-path: inset(0 0.8em 0 0);
}

.star--percent70 {
    clip-path: inset(0 1.2em 0 0);
}

.star--percent60 {
    clip-path: inset(0 1.6em 0 0);
}

.star--percent50 {
    clip-path: inset(0 2.0em 0 0);
}

.star--percent40 {
    clip-path: inset(0 2.4em 0 0);
}

.star--percent30 {
    clip-path: inset(0 2.8em 0 0);
}

.star--percent20 {
    clip-path: inset(0 3.2em 0 0);
}

.star--percent10 {
    clip-path: inset(0 3.4em 0 0);
}

.star--percent0 {
    clip-path: inset(0 4em 0 0);
}